.footer {
    text-align: center;
    line-height: 60px;
    background-color: black;
}
.footer-nav{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
    font-size: 20px;
}
.copy-right{
   line-height: 60px;
}

